/* NAVBAR */

.logo-image{
    width: 6%;
    text-align: left;
    border-radius: 100%;
    margin:3px 10px 0 10px;
    
}
@media (max-width:1100px){
    .logo-image{
      width:15%;
  }
}

.navbar-item{
  padding: 0 20px;
  
}
.container-fluid{
  padding: 0;
}

.nav-link{
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 500;
  margin: 5px ;
  
  }


body{
    background-color: #FBF8F1;
    font-family: "Montserrat";
}

/* Introduction */

#introduction{
  position:absolute;
  }

.intro2{
  text-align: center;
  left:800px;
  position: relative;
  height: 450px;
  width: 600px;
  padding: 20px;
  background-color:#064635 ;
  color: white;  
  }

.img1{
  height: 400px;
  width: 600px;
  position: relative;
  left: 300px;
  top:150px;
}

@media (max-width: 1200px) {
  #introduction, .intro2,.img1 {
   position: static;
   width: 100%;
   

 }
}


.btn {
  background: #95CD41;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color:#FBF8F1;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  
}

.btn:hover {
  background-color:#FBF8F1 ;
  color: #064635;
}


/* Join us */

#Join{
  text-align: left;
  background-color: #064635;
  padding:0 5% 5% 0;

}
.join-head{
  text-align: left;
  margin: 5% 3% 0 3%;
  padding-top: 3%;
  font-family: "Roboto";
  color: #FBF8F1;
  font-weight: bold;
}

.join-us{
  color: #FBF8F1;
  text-align: center;
}


#Join-box input,#Join-box textarea{
  width: 50%;
  padding: 12px 20px;
  border-radius: 15px;
  margin:10px;
  font-size: 1rem;
  background-color: #FBF8F1;
  box-sizing: border-box;
  color: #064635;

} 
@media(max-width : 600px){
  #Join-box input,#Join-box textarea{
    width: 80%;
}
.join-icon{
  text-align: center;
}
}
#btn-Join{
  margin-left: 17.5%;
  border-radius: 28px;
  background-color: #95CD41;
  color: white;
  font-size: 20px;
 
  padding: 5px 10px ;
}
#btn-Join:hover {
  background-color:#FBF8F1;
  text-decoration: none;
  color: #064635 ;
}
.icon{
  padding: 5%;
  color: #95CD41;
}


/* Locate Dustin */
#Locate-dustbin{
  text-align: center;
  padding: 7% 15%;
}


/* Heros Section */

#Heros{
  background-color:#064635;
  text-align: center;
  color: #fff;
}
.carousel-item{
  padding: 7% 15%;
}

.heros-image{
  border-radius: 100%;
  width:10%;
  margin: 20px;
}

/* About-Us */
#About-Us{
  margin: 7%;
  }
  #About-Us h2{
    font-weight: bold;
    text-align: center;
  }
  .mem-img{
    display: block;
    border-radius: 100%;
    width: 50%;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: #064635;
  }
  #About-Us p{
    text-align: center;
    font-weight: bold;
  }
  


/* Footer */
  
#footer{
  padding: 5% 15%;
  text-align: center;
  background-color: #064635;
  color:#FBF8F1 ;
}
.ico{
  padding: 10px 20px;
  
}


