<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>General Awareness</title>
  </head>
  <body>
    <iframe
      width="1500"
      height="500"
      frameborder="0"
      style="border: 0"
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCQaA8VABhfXs5r72CM8mXxMVihU--dBFU&q=garbage+dump+in+Lucknow+Uttar+Pradesh+India+near+226010"
      allowfullscreen
    >
    </iframe>
  </body>
</html>
